body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 1.2em;
}

.card {
    background: rgba(0,0,0,0.8);;
    color: wheat;
    padding: 2em;
    border-radius: 2em;
    margin: 1em;
    backdrop-filter: blur(10px);
}

.description:first-letter {
    text-transform: uppercase;
}

.clouds-description {
    display: flex;
    align-items: center;
    gap: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1em;
    border-radius: 50%;
    border: none;
    height: 3.5em;
    width: 3.5em;
    background: #7c7c7c2b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

img.search-button {
    width: 1.5em; 
    filter: invert(50%);
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    background: #7c7c7c2b;
    color: wheat;
    font-family: inherit;
    font-size: 1.2em;
    width: calc(100% - 6em);
}

input.search-bar.invalid {
    background-color: coral;
}

h1.temp {
    margin: 0;
}